@import url("/css/nullstyle.css");
@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);

body {
   background: #dddddd;
   font-size: 14px;
   font-family: "Poppins", serif;
}
[class*="__content"] {
   max-width: 1240px;
   margin: 0 auto;
}
.wrapper {
   max-width: 1440px;
   background: #ffffff;
   margin: 0 auto;
}
.header {
   max-width: 100%;
   background: url(/img/bg.png) no-repeat center;
   height: 500px;
   padding-top: 36px;

   &__navigation {
      display: flex;
      justify-content: space-between;
      margin-bottom: 164px;
   }
   &__title {
      font-weight: 700;
      font-size: 25px;
      line-height: 160%;
      text-align: center;
      color: #f8f9fa;
   }
   &__title span {
      font-weight: 300;
      font-size: 12px;
      line-height: 166.666667%; /* 20/12 */
      text-align: center;
      color: #e5e5e5;
   }
}
.logo {
   font-weight: 700;
   font-size: 18px;
   line-height: 138.888889%; /* 25/18 */
   color: #f8f9fa;
}
.nav {
   display: flex;
   font-weight: 500;
   font-size: 12px;
   color: rgba(248, 249, 250, 0.5);
   text-align: center;
   align-items: center;

   &__item {
      margin-right: 25px;
      text-transform: capitalize;
   }
}
.nav li:last-child {
   border-left: 1px solid rgba(248, 249, 250, 0.5);
   padding-left: 25px;
}
.nav li:hover {
   text-decoration: underline;
   font-size: 14px;
}
.data-block {
   font-weight: 300;
   font-size: 12px;
   line-height: 167%;
   color: #6c757d;
   margin: 80px 0 15px 0;
   &__by {
      font-weight: 700;
      color: #6c757d;
   }
}
.data-block span {
   margin-right: 25px;
}
.text-block {
   font-weight: 300;
   font-size: 14px;
   line-height: 179%;
   color: #6c757d;
   margin-bottom: 80px;
   &__title {
      font-weight: 700;
      font-size: 25px;
      line-height: 160%;
      color: #212529;
      margin-bottom: 40px;
   }
}
.text-block p {
   margin-bottom: 30px;
}
.img-block,
.big-img {
   width: 100%;
   margin-bottom: 80px;
}
.btn {
   color: #6c757d;
   font-weight: 300;
   font-size: 14px;
   margin-bottom: 98px;
}
.btn-item {
   border: 1px solid #c4c4c4;
   text-transform: capitalize;
   padding: 2px 13px;
   border-radius: 5px;
   line-height: 160%;
   margin-right: 10px;
}
.btn-item:hover {
   background: rgba(94, 94, 94, 0.05);
   color: #000000;
}
.articles-block {
   background: rgba(94, 94, 94, 0.05);
   padding: 100px;
}
.articles-title {
   font-weight: 500;
   font-size: 25px;
   line-height: 20px;
   margin-bottom: 60px;
   /* identical to box height, or 80% */

   color: #495057;
}
.articles__content {
   display: flex;
   justify-content: space-between;
   max-width: 1240px;
   margin: 0 auto;
}
.articles-content {
   display: flex;
}
.block-img {
   margin-right: 30px;
}
.block-text {
   max-width: 181px;
   font-weight: 500;
   font-size: 16px;
   line-height: 156%;
   /* or 156% */
   color: #212529;
}
.block-text span {
   font-weight: 300;
   font-size: 12px;
   line-height: 167%;
   color: #495057;
}
footer {
   background: #212529;
   padding: 100px 0;
   font-weight: 500;
   font-size: 12px;
   line-height: 208%;
   color: rgba(248, 249, 250, 0.5);
}
.footer-top {
   display: flex;
   justify-content: space-between;
   padding-bottom: 40px;
   border-bottom: 1px solid rgba(248, 249, 250, 0.5);
}
.footer-top-logo {
   font-weight: 700;
   font-size: 18px;
   line-height: 139%;
   color: #f8f9fa;
}
.footer-top-text span {
   margin-right: 25px;
}
.footer-top-rull span {
   margin-right: 25px;
}
.footer-bottom {
   display: flex;
   justify-content: space-between;
   margin-top: 40px;
   &__first {
   }
   &__second {
   }
}
.footer-top-text span:hover,
.footer-top-rull span:hover {
   text-decoration: underline;
}
